/* /////////////////////////// */
/* Width between: 992px - 780px */
/* /////////////////////////// */
@media (max-width: 62em) {
  .section-nav {
    margin: 0.8rem auto;
    margin-bottom: 2.2rem;
  }
  .section-hello {
    margin-bottom: 7.2rem;
  }
  .section-about {
    margin-bottom: 2.2rem;
  }
  .section-stats {
    margin-bottom: 7.2rem;
  }
  .section-personalities {
    margin-bottom: 4.8rem;
  }
  .section-portfolio {
    margin-bottom: 4.2rem;
  }
  .section-logos {
    margin-bottom: 4.2rem;
  }
  .section-cv {
    margin-bottom: 2.6rem;
  }

  /* Section hello and NAV */

  .logo-nav {
    height: 4rem;
  }

  .text-box,
  .img-box {
    min-height: 30rem;
  }

  .hello-header {
    font-size: 4rem;
    margin-bottom: 1.2rem;
  }

  .hello-text {
    font-size: 2.2rem;
    /* margin-bottom: 1.2rem; */
  }

  .hello-img {
    width: 45rem;
  }

  /* Section about  */

  .about-header {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }

  .about-text {
    font-size: 1.6rem;
  }

  /* Section about */

  .stat-icon {
    height: 6rem;
    margin-bottom: 1.6rem;
  }

  .stat-header {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }

  .stat-text {
    font-size: 1.4rem;
  }

  /* Section Personalities */

  .personalities-grid {
    gap: 1.4rem;
  }

  .personality {
    margin-bottom: 0;
  }

  /* Section portfolio and logos*/

  .portfolio-header {
    font-size: 3.2rem;
  }

  .project-text {
    font-size: 1.2rem;
  }

  .project-header--main {
    font-size: 2.2rem;
  }

  .project-text--main {
    font: 1.6rem;
  }
  .logo {
    height: 4rem;
  }
}
/* /////////////////////////// */
/* Width between: 780px - 580px */
/* /////////////////////////// */

@media (max-width: 49em) {
  .container {
    width: 95%;
  }
  .section-hello {
    margin-bottom: 5.2rem;
  }
  .section-about {
    margin-bottom: 2.2rem;
  }
  .section-stats {
    margin-bottom: 1.2rem;
  }
  .section-personalities {
    margin-bottom: 4.8rem;
  }
  .section-portfolio {
    margin-bottom: 1.6rem;
  }
  .section-logos {
    margin-bottom: 1.2rem;
  }
  .section-cv {
    margin-bottom: 2.6rem;
  }

  .links-nav {
    display: none;
  }

  .btn-nav {
    display: grid;
  }

  .section-about {
    margin-bottom: 0;
  }

  .about-header {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
  }
  .about-text {
    font-size: 1.4rem;
  }

  .stat-icon {
    height: 4rem;
  }

  .stat-header {
    font-size: 1.6rem;
  }

  .stat-text {
    font-size: 1.2rem;
  }

  .stats {
    gap: 1.2rem;
  }

  .stat {
    padding: 0;
  }

  .personalities-flex {
    gap: 2.2rem;
  }
  .personalities-header {
    font-size: 3.2rem;
  }

  .personalities-paragraph {
    font-size: 1.8rem;
  }

  .personalities-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  .personality-icon {
    height: 4rem;
  }

  .personality-text {
    padding: 0.6rem;
    font-size: 1.4rem;
  }

  .portfolio-grid {
    gap: 1.2rem;
    padding-top: 0;
  }

  .logo {
    height: 2.8rem;
  }
}
/* /////////////////////////// */
/* Width between: 580px  */
/* /////////////////////////// */
@media (max-width: 36.5em) {
  .section-portfolio {
    margin-bottom: 2.2rem;
  }

  .section-logos {
    margin-bottom: 2.2rem;
  }

  .hello-box {
    gap: 1.2rem;
  }
  .text-box {
    padding-left: 0;
  }
  .hello-header {
    font-size: 3.2rem;
    letter-spacing: 0;
  }
  .hello-header span {
    font-size: 4.2rem;
  }

  .hello-text {
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
    width: 16rem;
  }

  .hello-img {
    width: 30rem;
  }

  .personalities-flex {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .personalities-text {
    width: 100%;
  }

  .personalities-grid {
    padding-top: 2.2rem;
    width: 100%;
  }

  .personality {
    text-align: center;
  }

  .portfolio-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 2.2rem;
  }

  .portfolio-header {
    grid-column: span 6;
    margin-bottom: 0;
  }

  .project--1,
  .project--3,
  .project--4 {
    grid-column: span 2;
  }

  .project--main {
    grid-column: 2/6;
    grid-row: 2;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 1.8rem;
  }

  .logo-link:nth-child(odd) {
    text-align: end;
  }
  .logo {
    height: 4rem;
  }

  .btn--cv-box {
    width: 75%;
  }

  .btn--cv {
    font-size: 2.2rem;
    padding: 0.8rem 1.6rem;
  }
}
/* /////////////////////////// */
/* Width below: 420px */
/* /////////////////////////// */

@media (max-width: 26.5em) {
  .project--main {
    grid-column: 1/7;
    height: 40rem;
  }

  .project--main:hover {
    scale: 1;
  }
}
