* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #091c0c;
  overflow-x: hidden;
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

/* //////////////////////*/
/* Section - Navigation /*/
/* //////////////////////*/

.section-nav {
  margin: 0 auto;
  padding: 0 1.8rem;
  width: 100%;
  /* max-width: 140rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 3.2rem; */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.fixed {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 1;
}

.logo-nav {
  height: 6rem;
  border-radius: 4px;
}

.links-nav {
  display: flex;
  gap: 2.4rem;
}

.link-nav:link,
.link-nav:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #ff922b;
  background-color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  flex: 0 0 auto;
  transition: all 0.3s;
}

.link-nav:last-child {
  color: #fff;
  background-color: #ff922b;
  font-weight: 600;
  transition: all 0.3s;
}

.link-nav:hover,
.link-nav:active {
  background-color: #ff922b;
  color: #fff;
}

.link-nav:last-child:hover {
  color: #fff;
  background-color: #cc7522;
  font-weight: 600;
}

.btn-nav {
  display: none;
  cursor: pointer;
}

.btn-nav-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.hidden {
  visibility: hidden;
  filter: opacity(0);
}

.section-nav-mobile {
  transition: all 0.8s;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.links-nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.link-nav-mobile:link,
.link-nav-mobile:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #ff922b;
  background-color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  flex: 0 0 auto;
  transition: all 0.3s;
}

.link-nav-mobile:last-child {
  color: #fff;
  background-color: #ff922b;
  font-weight: 600;
  transition: all 0.3s;
}

.link-nav-mobile:hover,
.link-nav-mobile:active {
  background-color: #ff922b;
  color: #fff;
}

.link-nav-mobile:last-child:hover {
  color: #fff;
  background-color: #cc7522;
  font-weight: 600;
}

.btn-nav-close {
  display: flex;
  position: absolute;
  right: 3%;
  top: 2%;
}

/* ///////////////////*/
/* Seciotn - Hello /*/
/* ///////////////////*/

.section-hello {
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
}

.hello-box {
  display: flex;
  gap: 3.2rem;
  border-radius: 14px;
  overflow: hidden;
  /* border: 1px solid #16451f; */
}

.text-box,
.img-box {
  flex: 1 0 0;
  min-height: 80vh;
  overflow: hidden;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.4rem;
}

.hello-header {
  font-size: 7rem;
  color: #55a165;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.3rem;
  line-height: 0.8;
  margin-bottom: 3.2rem;
}

.hello-header span {
  color: #16451f;
  font-size: 8rem;
}

.hello-text {
  font-size: 3.6rem;
  color: #55a165;
  line-height: 1.3;
  margin-bottom: 6rem;
}

.btn:link,
.btn:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  background-color: #ff922b;
  border-radius: 4px;
  font-weight: 600;
  width: 20rem;
  text-align: center;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #cc7522;
}

.img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hello-img {
  width: 60rem;
  position: absolute;
}

/* ///////////////////*/
/* Seciotn 4 - About /*/
/* ///////////////////*/

.section-about {
  text-align: center;
  margin-bottom: 6rem;
}

.about-header {
  font-size: 5.4rem;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 2.2rem;
}

.about-text {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.7;
}

/* //////////////////////*/
/* Seciotn - Statistics /*/
/* //////////////////////*/

.section-stats {
  margin-bottom: 9.6rem;
}

.stats {
  display: flex;
  gap: 3.2rem;
  justify-content: space-around;
}

.stat {
  /* border: 2px solid #16451f; */
  /* box-shadow: 5px 20px 12px rgba(22, 69, 31, 0.2); */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 25rem;
  padding: 1.2rem;
  text-align: center;
  transition: all 0.2s;
  border-radius: 14px;
}

.stat:hover {
  box-shadow: 5px 20px 25px rgba(22, 69, 31, 0.2);
  transform: translateY(-1rem);
}

.stat-icon {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.8rem;
  justify-self: start;
  margin-top: 1.2rem;
}

.stat-header {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: -1.5px;
  margin-bottom: 2.4rem;
}

.stat-text {
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
  line-height: 1.5;
}

.color-orange {
  color: #cc7522;
}
/* ///////////////////////*/
/* Seciotn - Personality /*/
/* ///////////////////////*/

.section-personalities {
  margin-bottom: 9.6rem;
}

.personalities-flex {
  display: flex;
  gap: 3.2rem;
  background-color: rgba(22, 69, 31, 0.95);
  border-radius: 14px;
  color: #eaf3ec;
  padding: 1.6rem;
  min-height: 40vh;
}

.personalities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  padding-top: 5.2rem;
}

.personalities-text {
  width: 30%;
}

.personalities-header {
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-bottom: 2.2rem;
}

.personalities-paragraph {
  font-size: 2.2rem;
  font-weight: 400;
  color: #95c59f;
  line-height: 1.5;
}

.personalities-grid {
  width: 70%;
}

.personality {
  margin-bottom: 3.6rem;
}

.personality-icon {
  width: 6rem;
  height: 6rem;
  color: #95c59f;
  margin-bottom: 1.2rem;
}

.personality-text {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem;
}

/* /////////////////////*/
/* Seciotn - Portfolio /*/
/* /////////////////////*/

.section-portfolio {
  margin-bottom: 9.6rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;
  padding-top: 5.2rem;
}

.portfolio-header {
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-bottom: 2.2rem;
  grid-column: span 2;
}

.project--1,
.project--3,
.project--4 {
  grid-column: span 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: opacity(0.7) grayscale(0);
  transition: all 0.2s;
}

.project--1:hover .project-text,
.project--3:hover .project-text,
.project--4:hover .project-text {
  filter: opacity(0.8);
  bottom: 1%;
}

.project--1:hover,
.project--3:hover,
.project--4:hover {
  filter: opacity(1) grayscale(0);
}

.project-img {
  width: 100%;
  border-radius: 4px;
}

.project-text {
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  bottom: -5%;
  padding: 1.2rem;
  background-color: rgba(22, 69, 31, 1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0 4%;
  filter: opacity(0);
  transition: all 0.5s;
}

.project--main {
  grid-column: 4/8;
  grid-row: 1/3;
  height: 100%;
  min-height: 35rem;
  position: relative;
  padding: 1.8rem;
  border-radius: 14px;
  box-shadow: 4px 8px 8px rgba(9, 28, 12, 0.3);
  transition: all 0.3s;
  overflow: hidden;
}

.projects--main {
  display: flex;
  justify-content: center;
}

.project--main--1 {
  padding: 2rem;
  transform: translateX(0%);
  position: absolute;
  transition: all 1s;
}
.project--main--2 {
  padding: 2rem;
  transform: translateX(100%);
  position: absolute;
  transition: all 1s;
}
.project--main--3 {
  padding: 2rem;
  transform: translateX(200%);
  position: absolute;
  transition: all 1s;
}

.project-link--main:link,
.project-link--main:visited {
  text-decoration: none;
  color: #091c0c;
}

.project-img-box--main {
  overflow: hidden;
  margin-bottom: 2.2rem;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(9, 28, 12, 0.5);
}

.project-img--main {
  scale: 1.05;
}

.project-header--main {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2.2rem;
}

.project-text--main {
  font-size: 1.8rem;
  color: #16451f;
}

.btn-arr {
  position: absolute;
  border: none;
  background-color: #ff922b;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(9, 28, 12, 0.3);
}

.btn--left {
  left: 0;
  bottom: 50%;
}

.btn--right {
  right: 0;
  bottom: 50%;
}

.btn-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #16451f;
}

.project--main:hover {
  box-shadow: 4px 8px 32px rgba(9, 28, 12, 0.3);
  scale: 1.05;
  background-color: #fff;
  z-index: 1;
}

/* /////////////////*/
/* Seciotn - Logos /*/
/* /////////////////*/

.section-logos {
  margin-bottom: 9.6rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logo {
  height: 6rem;
}

.logo-link:link,
.logo-link:visited {
  filter: opacity(0.5) grayscale(1);
  transition: all 0.2s;
}

.logo-link:hover {
  filter: opacity(0.9) grayscale(0.2);
}

/* /////////////////////*/
/* Seciotn - Button CV /*/
/* /////////////////////*/

.section-cv {
  margin-bottom: 9.6rem;
}

.btn--cv-box {
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.btn--cv:link,
.btn--cv:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: -0.5px;
  color: #fff;
  display: block;
  padding: 1.2rem 2.4rem;
  border-radius: 4px;
  width: 70%;
  margin: 0 auto;
  background-color: #ff922b;
  text-align: center;
}

.btn--cv:hover,
.btn--cv:active {
  background-color: #cc7522;
}
